body{
    background-color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;   
}
a{
    text-decoration: none;
    color: black;
}
.container{
    background-color: white;
    display: flex;
    width: 780px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.navbar{
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 12px;
}
.navbar__logo{
    font-size: 48px;
    font-weight: bold;
}

.main {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}
.main__weatherbox, .main__recommendbox{
    width: 500px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 20px 12px;
    margin: 30px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}
.weatherbox__title, .recommendbox__title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 8px 12px;
}
.weatherbox__contents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 60px;
    font-weight: bold;
}
.weatherbox__temperature__detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px; /*여기에 font size 넣는 거는 안먹음*/
}
.temperature__highest{
    color: red;
    font-size: 30px;
}
.temperature__lowest{
    color: blue;
    font-size: 30px;
}

.recommendbox__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    font-weight: bold;
    margin: 15px;
}
.recommendbox__clothes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
    margin: 15px;
}
.Outer__clothes, .Top__clothes{
    border-right: 2px black;
}