html, body{
    background-color: lightgray;
    font-family: 'Source Sans Pro', sans-serif;   
    height: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.navbar{
    width: 650px;
    padding: 20px 12px;
    font-size: 50px;
    font-weight: bold;
    text-align :center;
    height: 10%;
    padding-top: 40px;
}

#date{
    font-size: 50px;
    font-weight: bold;
    text-align :center;
    padding-top: 20px; /* 날짜 위치 내리기 */
}

#change_date{
    font-size: 18px;
    font-weight: bold;
    text-align :center;
    color:#BDBDBD;
    margin-top: 30px;
}

.main {
    width: 650px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.container{
    position: absolute;
    background-color: white;
    display: flex;
    width: 780px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    left: 0; right: 0;
    margin-left: auto; margin-right: auto;
    top: 0;
}
.date_box:hover{
    background-color: #E6E6E6;
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24),0 20px 50px 0 rgba(0,0,0,0.19);
}
.date_box:active{
    box-shadow: 0 12px 10px 0 rgba(0,0,0,0.24),0 20px 40px 0 rgba(0,0,0,0.19);
    transform: translateY(2px);
}
.date_box, .OOTW_box{
    width: 500px;
    height: 30%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 20px 12px;
    margin: 30px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
      0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    }

.title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px 12px;
}

.inputbox__list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}
.inputbox__clothes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    margin: 15px;
}



#feelings{
    text-align: center;
    width: 500px;
    height: 20%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 5px 4px;
}

.feeling{
    color:white;
    width: 155px;
    height: 35%;

    font-size: 18px;
    font-weight: bold;

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    margin: 10px 4px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.feeling:focus{
    outline:none;
}
.feeling:hover{
    box-shadow: 0 12px 20px 0 rgba(0,0,0,0.24),0 20px 50px 0 rgba(0,0,0,0.19);
}

select {
    width: 100%;
    padding: .8em .5em;
    border: 1px solid #999;
    
    font-size: 18px;
    text-align-last: center;
    background: no-repeat 95% 50%;
    border-radius: 8px;
    border-color: whitesmoke;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
select:focus{
    outline:none;
}
select:hover{
    background:#BDBDBD;
}
    
select::-ms-expand {
    display: none;
}


@media screen and (max-width: 780px){
    .container{
        width:100%;
    }
    .navbar{
        width:100%;
        justify-content: space-around;
    }
    .main{
        width: 85%;
    }
    .date_box, .OOTW_box{
        width: 80%;
    }
    .feeling{
        width: 35%;
        height: 33%;
    }
}